<!-- running in jinja2 -->
<!Doctype html>
  <title>tweetbot</title>
  <head><h1>tweetBot</h1></head>
  
  <body>
  {% if tweets %}
    {% for tweet in tweets %}
    <div class='{{tweet.id}}', class='tweet'>
      <p>{{tweet.text}}</p>
    </div>
    {% endfor%}
  {% else %}
    <p>no tweets found</p>
  {% endif %}
  
  Tweet: <input id='tweet-text' type='text' name='tweet'>
  <button id='add-tweet'>Tweet it!</button>
  
  <!-- Code for email functionality -->
  <script type='text/javascript' scr='http://code.jquery.com/jquery-2.1.0.min.js'></script>
  <script type='text/javascript'>
    $('#add-tweet').click(funciton () {
      $.ajax({
        url: '/tweet',
        type: 'POST',
        data: {tweet: $('#tweet-text').val()},
        succes: function(res){
          location.reload();
        }
      });
      });
      
      $('.tweet').click(function(e) {
        $.ajax({
          url: '/tweet/' + this.id,
          type: 'DELETE',
          succes:  funtion(res){
            loaction.reload();
          }
        });
      });
  </script>
  
  </body>

</html>
